<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Three Good Things</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="typeahead.js-bootstrap.css/typeahead.js-bootstrap.css">
	<link rel="stylesheet" href="app.css">
</head>

<body class="container">

	<h2>Welcome to Three Good Things</h2>
		
	<p>
      Share three good things happened to you today. It will make you happier.
  </p>

	<div id="welcome-view" class="view">		
	    <p>
	      <a class="btn btn-primary" href="/auth/google">Login with Google</a>
	    </p>
	</div>

	<div id="loggedin-view" class="view">		
	    <p>
	      <a class="btn btn-warning" href="/auth/logout">Logout</a>
	    </p>
	</div>

	<div class="page"></div>

	<script type="text/template" id="edit-things-form">
		<form role="form" class="edit-things-form">
		  <div class="form-group">
		    <input name="firstthing" type="text" class="form-control" placeholder="First thing">
	    </div>	
	    <div class="form-group">
		    <input name="secondthing" type="text" class="form-control" placeholder="Second thing">
	    </div>	
	    <div class="form-group">
		    <input name="thirdthing" type="text" class="form-control" placeholder="Third thing">
		  </div>
		  <button type="submit" class="btn btn-success">Share</button>
		</form>
	</script>

	<script type="text/template" id="things-list-template">
	    <div class="container">
	        <h1>Things</h1>
	        <div class="table-responsive">
	            <table class="table table-hover table-striped">
	                <thead>
	                <tr>
	                    <th>One</th>
	                    <th>Two</th>
	                    <th>Three</th>
	                </tr>
	                </thead>
	                <tbody>
	                <% _.each(things, function(thing) { %>
	                <tr>
	                    <td><%= thing.first %></td>
	                    <td><%= thing.second %></td>
	                    <td><%= thing.third %></td>
	                </tr>
	                <% }); %>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</script>

	<script src="jquery/jquery.min.js"></script>
	<script src="underscore/underscore-min.js"></script>
	<script src="backbone/backbone.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="typeahead.js/dist/typeahead.min.js"></script>
	<script src="handlebars/handlebars.js"></script>

	<script src="app.js"></script>

	<script>
    function htmlEncode(value){
        return $('<div/>').text(value).html();
    }
    $.fn.serializeObject = function() {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>

</body>

</html>